body{
    /* background-color: grey; */
}

.menu-bar{
    width: 100%;
    height: 100px;
    display: inline-block;
    margin-left: 10px;
}

.logo-container{
    width: 100px;
    height: 100px;
    background: url('CDF-Logo.jpg');
    background-repeat: no-repeat;
    background-size: 90px 90px;
}

.title-container{
    margin-top: -75px;
    padding-bottom: 10px;
}

/* .form-container{
    background-color: grey;
    height: 100vh;
} */

.form-steps-large{
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1000;
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.48);
}

.form-body{
    margin: 0 auto;
    padding-top: 5px;
    width: 75%;
    border-radius: 5px;
    background-color: white;
}

.MuiBox-root{
    width: 100%;
}

.MuiFormControl-root{
    width: 80%;
    margin: 0 auto;
}